
<br><br><br>

<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-8">
        <form class="navbar-form navbar-left" role="search">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search Film" ng-model="search.firstName">
            </div>

            <!--<table class="table table-striped">
                <tr ng-repeat="resource in employees | filter:search">
                    <td>{{resource.firstName}}</td>
                    <td>{{resource.lastName}}</td>

                </tr>
            </table>-->
        </form>
    </div>
</div>
<div class="row"><br><br><br></div>
<div class="row">
    <div ng-repeat="resource in employees | filter:search">

        <div class="card card-1">
            <header>
                <img class="small_img" src="{{resource.url}}">
                <h1>{{resource.firstName}}</h1><h2>{{resource.lastName}}</h2>
            </header>
        </div>
    </div>

</div>
